Repository shields/lgtmcp: changes, and which lefthook commands are due for each by the changed paths.
All: format, mod-tidy

format:
  run: bin/gofumpt -w {staged_files}
  stage_fixed: true

mod-tidy:
  run: go mod tidy
  stage_fixed: true

Add Google Application Default Credentials support
  CLAUDE.md
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review.go
  internal/review/review_test.go
Due: format

Add customizable prompts with template support
  CLAUDE.md
  config.example.yaml
  internal/config/config.go
  internal/prompts/context_gathering.md
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
Due: format

Prompt Gemini to return all the issues
  internal/prompts/review.md
Due: none

Remove a lot of history from CLAUDE.md
  CLAUDE.md
Due: none

Disable some overzealous linters
  .golangci.yml
Due: none

Add comprehensive logging system with configurable levels
  README.md
  cmd/lgtmcp/main.go
  cmd/lgtmcp/main_test.go
  config.example.yaml
  internal/config/config.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
  test/integration_test.go
Due: format

Add configurable git diff context lines
  CLAUDE.md
  config.example.yaml
  internal/config/config.go
  internal/git/git.go
  internal/git/git_test.go
  pkg/mcp/server.go
  test/integration_test.go
Due: format

Add comprehensive logging system with configurable levels
  CLAUDE.md
  docs/logging-improvements.md
  pkg/mcp/server.go
Due: format

Gemini cannot use grounding and tools at the same time
  CLAUDE.md
Due: none

Add fail-closed gitignore security protection to file retrieval
  CLAUDE.md
  README.md
  internal/review/review.go
  internal/review/review_test.go
Due: format

Remove logging-improvements.md
  docs/logging-improvements.md
Due: none

Add GitHub Actions for lint and test
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

Update golangci-lint to v2.4.0
  .golangci.yml
  Makefile
  cmd/lgtmcp/main.go
  internal/logging/logging_test.go
Due: format

Pin gofumpt to v0.8.0 instead of using @latest
  Makefile
Due: none

Drop Codecov for now
  .github/workflows/test.yaml
Due: none

Bump golangci-lint
  .github/workflows/lint.yaml
Due: none

Fix all linter issues and improve code quality
  .golangci.yml
  cmd/lgtmcp/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/security/fakesecrets.go
  internal/security/scanner_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
  test/e2e_test.go
  test/integration_test.go
Due: format

Add Apache-2 license
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .gitignore
  .golangci.yml
  .lefthook.yml
  CLAUDE.md
  LICENSE
  Makefile
  README.md
  cmd/lgtmcp/main.go
  cmd/lgtmcp/main_test.go
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/prompts/context_gathering.md
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  internal/review/review_test.go
  internal/review/stub.go
  internal/review/testing.go
  internal/security/fakesecrets.go
  internal/security/scanner.go
  internal/security/scanner_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
  test/e2e_test.go
  test/integration_test.go
  tools.go
Due: format

Upgrade dependencies
  go.mod
  go.sum
Due: mod-tidy

Set read-only permissions on GitHub Actions
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

Add Renovate configuration
  .github/renovate.json5
Due: none

Separate tool dependencies into dedicated tools module
  CLAUDE.md
  Makefile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: format, mod-tidy

Add --version flag with build stamp support
  CLAUDE.md
  Makefile
  cmd/lgtmcp/main.go
  internal/version/version.go
  internal/version/version_test.go
Due: format

Fix make install target to properly install to ~/bin
  Makefile
  README.md
Due: none

Add Prettier for formatting non-Go files
  .gitignore
  .lefthook.yml
  .mcp.json
  Makefile
  tools/package-lock.json
  tools/package.json
Due: none

Deny Claude Code direct commits; use MCP instead
  .claude/settings.json
Due: none

Add make tools step to lefthook pre-commit
  .lefthook.yml
Due: none

Update default model from Gemini 2.5 Pro to Gemini 3 Pro Preview
  CLAUDE.md
  README.md
  config.example.yaml
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review_test.go
  internal/review/testing.go
Due: format

Use install(1) instead of mkdir/cp in make install
  Makefile
Due: none

Add token usage and cost logging for Gemini API calls
  CLAUDE.md
  internal/review/review.go
  internal/review/review_test.go
Due: format

Fix tools/go.sum version mismatch and add lefthook hook for tools module
  .lefthook.yml
  tools/go.sum
Due: none

Add CodeQL security scanning workflow for Go
  .github/workflows/codeql.yaml
  CLAUDE.md
Due: none

Strengthen prompt instruction about version numbers
  internal/prompts/review.md
Due: none

tidy
  go.sum
Due: none

Fix all golangci-lint issues and update tools dependencies
  cmd/lgtmcp/main.go
  internal/config/config.go
  internal/git/git.go
  internal/logging/logging.go
  internal/review/review.go
  internal/security/scanner.go
  internal/version/version.go
  test/e2e_test.go
  tools/go.mod
  tools/go.sum
Due: format

Update golangci-lint to v2.7.2 in CI to match tools/go.mod
  .github/workflows/lint.yaml
Due: none

Add fallback model on Gemini API quota exhaustion
  CLAUDE.md
  README.md
  config.example.yaml
  internal/config/config.go
  internal/review/review.go
  internal/review/review_test.go
Due: format

Include current date in review prompt to prevent false version warnings
  internal/prompts/prompts.go
  internal/prompts/review.md
Due: format

Add MCP progress notifications and usage stats in response
  CLAUDE.md
  go.sum
  internal/progress/progress.go
  internal/progress/progress_test.go
  internal/review/review.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format

Path conditions:
  format: any of: *.go
  mod-tidy: any of: go.mod
