Repository shields/lgtmcp: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, format-prettier, mod-tidy

.lefthook.yml:

# Copyright Â© 2025 Michael Shields
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Lefthook configuration for lgtmcp project
# Ensures code quality before commits and pushes

pre-commit:
  parallel: false
  commands:
    # Ensure tools are installed before running checks
    install-tools:
      run: make tools
      priority: 1

    format-go:
      glob: "**/*.go"
      run: bin/gofumpt -w {staged_files}
      stage_fixed: true

    format-prettier:
      glob: "**/*.{md,json,json5,yaml,yml}"
      run: npx --prefix tools prettier --write {staged_files}
      stage_fixed: true

    mod-tidy:
      glob: "go.mod"
      run: go mod tidy
      stage_fixed: true

    # Lint check only - does not auto-fix to avoid unintended changes
    # Use 'make lint-fix' manually if you want auto-fixes
    lint:
      run: make lint

    test:
      run: make test

skip_output:
  - meta
  - summary

Match git's trailing tab and block adjacency in synthesized diffs
  internal/git/git.go
  internal/git/git_test.go
Due: format-go

Fix AWS test fixture that gitleaks allowlisted, tidy scanner tests and parser
  internal/security/fakesecrets.go
  internal/security/scanner.go
  internal/security/scanner_test.go
Due: format-go

Stage rename sources and fail closed on unknown or signal-killed paths
  AGENTS.md
  README.md
  config.example.yaml
  internal/git/git.go
  internal/git/git_test.go
  internal/git/git_unix_test.go
  internal/review/review.go
  internal/security/scanner.go
  internal/security/scanner_test.go
  pkg/mcp/server.go
Due: format-go

Remove dead code and tighten review, prompt, and hook config
  .lefthook.yml
  internal/appinfo/appinfo.go
  internal/appinfo/appinfo_internal_test.go
  internal/appinfo/appinfo_test.go
  internal/git/git.go
  internal/git/git_test.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  internal/review/review_test.go
  test/integration_test.go
Due: format-go, format-prettier

Honor explicit-zero config and fail fast on bad logging config
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/prompts/prompts.go
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Report token spend across fallback attempts
  AGENTS.md
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Return tool-execution failures as in-band MCP errors
  AGENTS.md
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go

Implement MCP logging output
  AGENTS.md
  config.example.yaml
  internal/config/config.go
  internal/logging/logging.go
  main.go
  pkg/mcp/logsender.go
  pkg/mcp/logsender_test.go
  pkg/mcp/server.go
Due: format-go

Pin core.quotePath in the working-tree diff
  internal/git/git.go
  internal/git/git_test.go
Due: format-go

Switch default review model to Gemini 3.6 Flash
  AGENTS.md
  README.md
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Show the model in the review footer and split it across two lines
  AGENTS.md
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go

Fix prettier and lefthook formatting hooks
  .lefthook.yml
  AGENTS.md
  Makefile
Due: none

Modernize error type extraction for Go 1.26
  internal/review/review.go
  main.go
Due: format-go

Match config.NotFoundError to fs.ErrNotExist via an Is method
  internal/config/config.go
  internal/config/config_test.go
  main.go
Due: format-go

Prune AGENTS.md down to durable guidance
  AGENTS.md
Due: none

Migrate to encoding/json/v2
  .golangci.yml
  go.mod
  go.sum
  internal/prompts/review.md
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
Due: format-go, format-prettier, mod-tidy

Switch default review model to Gemini 3.7 Flash with high thinking
  AGENTS.md
  README.md
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
  pkg/mcp/server_test.go
Due: format-go

Switch default review model to Gemini 3.8 Flash
  AGENTS.md
  README.md
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
  pkg/mcp/server_test.go
Due: format-go

Allow longer-running Git commit hooks
  go.sum
  internal/git/git.go
  internal/git/git_test.go
  internal/git/git_unix_test.go
Due: format-go

Claude Code finally supports AGENTS.md
  CLAUDE.md
Due: none

Add -tools flag to choose which MCP tools are enabled
  README.md
  main.go
  main_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go
