Repository shields/lgtmcp: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, format-prettier, mod-tidy

format-go:
  run: bin/gofumpt -w {staged_files}
  stage_fixed: true

format-prettier:
  run: npx --prefix tools prettier --write {staged_files}
  stage_fixed: true

mod-tidy:
  run: go mod tidy
  stage_fixed: true

Add instruction to review prompt to skip import warnings
  internal/prompts/review.md
Due: format-prettier

Update review prompt to focus on higher-level issues
  internal/prompts/review.md
Due: format-prettier

Discover and inject AGENTS.md files into review prompts
  CLAUDE.md
  internal/git/agents.go
  internal/git/agents_test.go
  internal/prompts/context_gathering.md
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  pkg/mcp/server.go
Due: format-go, format-prettier

Update rardecode from v2.1.1 to v2.2.2
  go.mod
  go.sum
Due: mod-tidy

Add Renovate config
  renovate.json
Due: none

Have only one Renovate config
  .github/renovate.json5
  renovate.json
Due: format-prettier

Add build steps to test workflow and fix tools/go.sum
  .github/workflows/test.yaml
  go.sum
  tools/go.mod
  tools/go.sum
Due: format-prettier

Add build step to test workflow and fix tools/go.sum
  .github/workflows/test.yaml
Due: format-prettier

Display cost to the penny instead of tenths of a penny
  pkg/mcp/server.go
Due: format-go

msrl.dev
  Makefile
  README.md
  cmd/lgtmcp/main.go
  go.mod
  internal/git/git.go
  internal/git/git_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
  internal/version/version_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
  test/e2e_test.go
  test/integration_test.go
Due: format-go, mod-tidy

Update tests
  pkg/mcp/server_test.go
Due: format-go

Rename internal/version package to internal/appinfo to fix revive var-naming lint error
  Makefile
  cmd/lgtmcp/main.go
  go.sum
  internal/appinfo/appinfo.go
  internal/appinfo/appinfo_test.go
Due: format-go

Update default model to gemini-3.1-pro-preview
  CLAUDE.md
  README.md
  config.example.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
Due: format-go

Fix lint errors for golangci-lint v2.10.1 and update tools go.sum
  internal/config/config.go
  internal/git/git.go
  internal/git/git_test.go
  internal/logging/logging.go
  internal/review/review.go
  internal/security/scanner.go
  pkg/mcp/server_test.go
  test/integration_test.go
  tools/go.sum
Due: format-go

Use make lint in CI to keep golangci-lint version in sync
  .github/workflows/lint.yaml
  Makefile
Due: format-prettier

Move flag.Parse() to main() to avoid revive deep-exit across Go versions
  cmd/lgtmcp/main.go
Due: format-go

Add data about cost and latency
  README.md
Due: none

Run checks on all branches
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: format-prettier

Fix go.sum and lint issues for golangci-lint v2.11.3
  internal/config/config.go
  internal/git/agents.go
  tools/go.sum
Due: format-go

add MCP server badge
  README.md
Due: none

Improve config error messages with setup guidance
  cmd/lgtmcp/main.go
  internal/config/config.go
  internal/config/config_test.go
Due: format-go

Add REVIEW.md discovery alongside AGENTS.md
  CLAUDE.md
  README.md
  internal/git/instructions.go
  internal/git/instructions_test.go
  internal/prompts/context_gathering.md
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  pkg/mcp/server.go
Due: format-go, format-prettier

go mod tidy
  tools/go.sum
Due: none

go mod tidy
  .github/renovate.json5
Due: format-prettier

Migrate Go tools from separate tools/ module to Go 1.26 tool directive
  .github/renovate.json5
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .lefthook.yml
  CLAUDE.md
  Makefile
  go.mod
  go.sum
  internal/prompts/prompts.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: format-go, format-prettier, mod-tidy

Support git worktrees in repository detection
  internal/git/git.go
  internal/git/git_test.go
Due: format-go

Add test coverage
  internal/git/git_test.go
  internal/review/review_test.go
Due: format-go

Add test coverage
  CLAUDE.md
  cmd/lgtmcp/main_test.go
  internal/appinfo/appinfo.go
  internal/appinfo/appinfo_internal_test.go
  internal/config/config_test.go
  internal/git/git_test.go
  internal/git/git_unix_test.go
  internal/git/instructions_test.go
  internal/logging/logging_test.go
  internal/progress/progress_test.go
  internal/prompts/prompts_test.go
  internal/review/real_client.go
  internal/review/review.go
  internal/review/review_test.go
  internal/security/scanner_test.go
  internal/testutil/testutil.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
  test/integration_test.go
Due: format-go

License header sweep
  internal/git/instructions.go
  internal/git/instructions_test.go
Due: format-go

Tell reviewer not to flag APIs as nonexistent when code compiles
  internal/prompts/review.md
Due: format-prettier

Separate concurrency groups for push and pull_request events
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: format-prettier

Move main package from cmd/lgtmcp/ to module root
  Makefile
  go.mod
  go.sum
  main.go
  main_test.go
Due: mod-tidy

Skip nested go.sum and go.work.sum in secret scanning
  .golangci.yml
  internal/security/scanner.go
  internal/security/scanner_test.go
Due: format-go

Sandbox AGENTS.md and REVIEW.md content with delimited fences
  internal/git/git_test.go
  internal/git/instructions.go
  internal/git/instructions_test.go
  internal/security/scanner_test.go
Due: format-go

Remove digest from Renovate automerge update types
  .github/renovate.json5
  internal/git/git_test.go
  internal/security/scanner_test.go
Due: format-go, format-prettier

Treat Phase 1 analysis as untrusted in Phase 2 review prompt
  internal/git/git_test.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/security/scanner_test.go
Due: format-go, format-prettier

Cap context-gathering tool-call loop iterations
  internal/git/git_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/security/scanner_test.go
Due: format-go

Revert "Merge unit S2: remove digest from Renovate automerge rule"
  .github/renovate.json5
Due: format-prettier

Document MCP commit policy and Bash deny rule limitations
  CLAUDE.md
  internal/git/git_test.go
  internal/review/testing.go
  internal/security/scanner_test.go
Due: format-go

Add timeout and -- separator to git check-ignore
  internal/git/git_test.go
  internal/review/review.go
  internal/review/review_test.go
  internal/security/scanner_test.go
Due: format-go

Path conditions:
  format-go: any of: **/*.go
  format-prettier: any of: **/*.{md,json,json5,yaml,yml}
  mod-tidy: any of: go.mod
