Repository shields/lgtmcp: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, format-prettier, mod-tidy

.lefthook.yml:

# Copyright Â© 2025 Michael Shields
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Lefthook configuration for lgtmcp project
# Ensures code quality before commits and pushes

pre-commit:
  parallel: false
  commands:
    # Ensure tools are installed before running checks
    install-tools:
      run: make tools
      priority: 1

    format-go:
      glob: "**/*.go"
      run: bin/gofumpt -w {staged_files}
      stage_fixed: true

    format-prettier:
      glob: "**/*.{md,json,json5,yaml,yml}"
      run: npx --prefix tools prettier --write {staged_files}
      stage_fixed: true

    mod-tidy:
      glob: "go.mod"
      run: go mod tidy
      stage_fixed: true

    # Lint check only - does not auto-fix to avoid unintended changes
    # Use 'make lint-fix' manually if you want auto-fixes
    lint:
      run: make lint

    test:
      run: make test

skip_output:
  - meta
  - summary

Strip GIT_* env vars from git invocations in tests and production
  internal/git/git.go
  internal/review/review.go
  internal/testutil/testutil.go
Due: format-go

Use filepath.EvalSymlinks and separator-aware prefix check in GetFileContent
  internal/git/git.go
  internal/git/git_unix_test.go
Due: format-go

Pass staged files to lefthook commands without shell expansion
  .lefthook.yml
Due: none

Parse diff headers safely for filenames containing spaces and special chars
  internal/security/scanner.go
  internal/security/scanner_test.go
Due: format-go

Stage only originally-scanned files instead of running git add -A
  internal/git/git.go
  internal/git/git_test.go
  pkg/mcp/server.go
Due: format-go

Validate prompt and logging directory paths from config
  internal/config/config.go
  internal/config/config_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
Due: format-go

Close TOCTOU gap in handleFileRetrieval via os.Root
  internal/review/file_open_other.go
  internal/review/file_open_unix.go
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Scope security-events: write to the analyze job in CodeQL workflow
  .github/workflows/codeql.yaml
Due: format-prettier

Run go mod tidy after Renovate Go module updates
  .github/renovate.json5
Due: format-prettier

Fix lint failures from golangci-lint v2.12.2 upgrade
  .golangci.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/review/review.go
  internal/review/stub.go
  internal/review/testing.go
  pkg/mcp/server.go
Due: format-go, mod-tidy

Surface deleted files distinctly in the review prompts
  CLAUDE.md
  internal/prompts/context_gathering.md
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/review.md
  internal/review/review.go
  internal/review/review_test.go
  internal/security/scanner.go
  internal/security/scanner_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go, format-prettier

Clarify in tool descriptions that the full workspace is reviewed
  pkg/mcp/server.go
Due: format-go

Disable deprecated gomodguard linter
  .golangci.yml
Due: none

Harden review engine: nil Content guards and git check-ignore isolation
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Fix dangling godoc references to config.Dir
  internal/logging/logging.go
  internal/prompts/prompts.go
Due: format-go

Fix misplaced Version doc comment and drop dead test argument
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go

Simplify ScanContent file-name stamping
  internal/security/scanner.go
Due: format-go

Stop synthesized new-file diffs from emitting a phantom empty line
  internal/git/git.go
  internal/git/git_test.go
Due: format-go

Repair the rotted e2e test suite and lint it going forward
  .golangci.yml
  test/e2e_test.go
  test/helpers_test.go
  test/integration_test.go
Due: format-go

Tidy review_and_commit progress reporting
  pkg/mcp/server.go
Due: format-go

Route ScanDiff through scanContent and document the parser prefix contract
  internal/security/scanner.go
  internal/security/scanner_test.go
Due: format-go

Make synthesized new-file diffs fuller git-fidelity; test prefix forcing
  internal/git/git.go
  internal/git/git_test.go
Due: format-go

Warn when the config file is readable by group or others
  internal/config/config.go
  internal/config/config_test.go
Due: format-go

Delete the e2e test suite
  .golangci.yml
  test/e2e_test.go
  test/helpers_test.go
  test/integration_test.go
Due: format-go

Reflect executable bit and symlinks in synthesized new-file diffs
  CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/git/git_unix_test.go
Due: format-go

AGENTS.md -> CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

Route git check-ignore through the internal/git command chokepoint
  AGENTS.md
  internal/git/git.go
  internal/git/git_test.go
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Measure context-cache savings and fix cached-token cost double-count
  AGENTS.md
  internal/review/review.go
  internal/review/review_test.go
  pkg/mcp/server.go
  pkg/mcp/server_test.go
Due: format-go

Update Gemini 2.5 Flash pricing and add Flash-Lite
  internal/review/review.go
  internal/review/review_test.go
Due: format-go

Harden CI workflows and add a zizmor pedantic lint check
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  AGENTS.md
Due: format-prettier

Remove the CodeQL scanning workflow
  .github/workflows/codeql.yaml
  AGENTS.md
Due: format-prettier

Fix documentation drift around custom prompts and CI triggers
  AGENTS.md
  Makefile
  README.md
  config.example.yaml
Due: none

Report the real build version over MCP and tighten integration tests
  pkg/mcp/server.go
  test/integration_test.go
Due: format-go

Harden support packages against bad env values and host git config
  internal/appinfo/appinfo.go
  internal/config/config.go
  internal/config/config_test.go
  internal/logging/logging.go
  internal/testutil/testutil.go
Due: format-go

Fix silent loss of special-character filenames in synthesized diffs
  internal/git/git.go
  internal/git/git_test.go
  internal/git/git_unix_test.go
  internal/git/instructions.go
Due: format-go

Fix review-engine bugs: parallel tool calls, symlink gitignore bypass, cost accounting
  internal/review/real_client.go
  internal/review/review.go
  internal/review/review_test.go
  internal/review/stub.go
  internal/review/testing.go
Due: format-go

Reject stdout logging to protect the MCP stdio transport
  internal/config/config.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Due: format-go

Fix small docs and build hygiene issues
  .gitignore
  Makefile
  README.md
Due: none

Make integration tests stage via the diff-derived file list
  pkg/mcp/server.go
  test/integration_test.go
Due: format-go

Skip thought-summary parts in both review phases; remove dead IsTestMode
  internal/review/review.go
  internal/review/review_test.go
  internal/review/testing.go
Due: format-go
